{%extends 'base2.html'%}
{%load static %}
{%load bootstrap4 %}
{%block slider%}

{%endblock%}

{%block whereto%}

{%endblock%}

{% block content %}

{{block.super}}
<div class="card" style="width: 50rem;margin-left: 20%;margin-bottom: 10%;">
    <div class="card-body">
      <h5 class="card-title">Review</h5>
      <div>
        <form action="{%url 'make_review'%}" method="post" enctype="multipart/form-data">
            {%csrf_token%}
    
            {% bootstrap_form form%}
            <input type="submit" class="btn btn-success btn-lg" value="Post">
        </form>
    
    
    </div>
    
    </div>
  </div>



{% endblock %}

{%block bottom%}

{%endblock%}