{%extends 'base2.html'%}
{%load static %}
{%load bootstrap4 %}
{%block slider%}

{%endblock%}

{%block whereto%}

{%endblock%}

{% block content %}

{{block.super}}


{%if profile%}

<div class="container">
    <div class="row" style="margin-bottom: 15%;">
        <div class="col-lg-4">
            <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
max-width: 70%;
margin: auto;
text-align: center;">

                <img src="{{profile.profile_photo.url}}" alt="ProfilePhoto" style="width:100%">


            </div>

        </div>
        <div class="col-lg-8">

<div>
    <h5>Username: {{user.username}}</h5><br><br>
    <p class="title" style=" color: grey;
    font-size: 18px;">Caption: {{profile.bio}}</p>
</div><br><br>

<div style="display: inline-block;">

    <a style=" text-decoration: none;
        font-size: 22px;
        color: black;" href="#"><i class="fa fa-twitter"></i></a>
    <a style=" text-decoration: none;
        font-size: 22px;
        color: black;" href="#"><i class="fa fa-linkedin"></i></a>
    <a style=" text-decoration: none;
        font-size: 22px;
        color: black;" href="#"><i class="fa fa-facebook"></i></a>

</div>

        </div>
    </div>

</div>


{%else%}

<h1>
    No profile created yet
</h1>

{%endif%}


{% endblock %}

{%block bottom%}

{%endblock%}