{%extends 'base2.html'%}
{%load static%}

{%block slider%}
<div class="destination_banner_wrap overlay" style="background-image: url('{{destination.destination_image.url}}');">
<!-- <img src="{{destination.destination_image.url}};" style="padding: 340px 0;background-size: cover; background-position: center center;"> -->
<div class="destination_text text-center">
    <h3>{{destination.destname}}</h3>
    
</div>
</div>
   

{%endblock%}

{%block whereto%}

{%endblock%}

{% block content %}
{{block.super}}

<div class="destination_details_info">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-9">
                <div class="destination_info">
                    <h3>Description</h3>
                    <p>{{destination.description|safe}}</p> 
                </div>
                <div class="bordered_1px"></div>
                <div class="contact_join">
                    <div class="row">
                        <div class="col-lg-6" style="margin-left: 20%;">
                            <div class="submit_btn">
                                <button class="boxed-btn3" ><a href="{% url 'addtowishlist' destination.id %}">Add to wishlist</a></button>
                            </div>
                    </div>
                    
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{%block bottom%}

{%endblock%}