{%extends 'base2.html'%}
{%load static%}

{%block slider%}

{%endblock%}

{%block whereto%}

<!-- where_togo_area_start  -->
<div class="where_togo_area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="form_area">
                    <h3 style="margin-left: 17%;">WISHLIST DESTINATIONS</h3>
                </div>
            </div>
            <div class="col-lg-6">
        
            </div>
        </div>
    </div>
</div>
<!-- where_togo_area_end  -->
{%endblock%}

{% block content %}
{{block.super}}

    <!-- popular_destination_area_start  -->
    <div class="popular_destination_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                   
                </div>
            </div>
            {%if wishitems%}
            <div class="row">
                {%for wish in wishitems%}
                <div class="col-lg-4 col-md-6">
                    <form action="{% url 'makebooking' %}" method='post' enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="single_destination">
                        <div class="thumb">
                            <!-- {{dest.destination_image.url}} -->
                            <img src="{{wish.destination.destination_image.url}}" alt="destphoto" height="250px" width="300px">
                        </div>
                        <div class="content">
                            <p class="d-flex align-items-center">{{wish.destination.destname}}<a href="{% url 'destination' wish.destination.id %}">View</a> </p>
                            <a href="{%url 'deletefromwishlist' wish.destination.id %}" class="boxed-btn4 " style="margin-top: 10%;">Remove</a>

                
                            <td >                                                            
                                <input type="text" id="dest_id" name="dest_id" style="visibility:hidden;" value="{{wish.destination.id}}">                            
                                <input type="submit" style="margin-top: -24%;" class="btn btn-info" value="Book" id="addbutton">                            
                            </td>  
                        </div>
                       
                    </div>
                    </form>
                </div>
                {%endfor%}             
            </div>
            {%else%}
            <div>
                <h5>You haven't added a destination to your wishlist just yet</h5>
                <a href="{%url 'alldest' %}" class="boxed-btn3">Explore Now</a>
            </div>
            {%endif%}
        </div>
    </div>
    <!-- popular_destination_area_end  -->
    {% endblock %}
    {%block bottom%}

    {%endblock%}